{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка - Мероприятия</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>

<body>
    <header>
        <h1>Добро пожаловать в панель управления событиями</h1>
        <nav>
            <ul>
                <li><a href="{% url 'event_list' %}">Список мероприятий</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <button id="theme-toggle" class="theme-toggle-btn">Toggle Theme</button>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const themeToggleButton = document.getElementById('theme-toggle');
            const body = document.body;

            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                body.classList.add(savedTheme);
            } else {
                body.classList.add('dark-theme');
            }

            themeToggleButton.addEventListener('click', () => {
                if (body.classList.contains('dark-theme')) {
                    body.classList.remove('dark-theme');
                    body.classList.add('light-theme');
                    localStorage.setItem('theme', 'light-theme');
                } else {
                    body.classList.remove('light-theme');
                    body.classList.add('dark-theme');
                    localStorage.setItem('theme', 'dark-theme');
                }
            });
        });
    </script>
</body>
</html>
